langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-huggingface
langchain-pinecone
pinecone-client
wikipedia
arxiv
fastapi
pydantic
python-dotenv
uvicorn
sentence-transformers
langgraph-checkpoint-mongodb
pymongo
rank_bm25
langchain-pinecone
langchain-huggingface
langchain-community
pinecone-client
pinecone-text